# image files
*.png filter=lfs diff=lfs merge=lfs eol=lf -text
*.jpg filter=lfs diff=lfs merge=lfs eol=lf -text
*.gif filter=lfs diff=lfs merge=lfs eol=lf -text
# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.md text eol=lf
*.json text eol=lf
*.svg text eol=lf
LICENCE text
.gitattributes text
.gitignore text
